
@font-face {
    font-family: 'tikihutregular';
    src: url('/assets/tikihut-webfont.eot');
    src: url('/assets/tikihut-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/tikihut-webfont.woff2') format('woff2'),
         url('/assets/tikihut-webfont.woff') format('woff'),
         url('/assets/tikihut-webfont.ttf') format('truetype'),
         url('/assets/tikihut-webfont.svg#tikihutregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
