
body {
  background:url('/assets/tikibkgd.png');
  font-size: 18px;

}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.linx a{
  color: #a6009a;
}

.linx a:hover{
  color: #22D902;
  text-decoration: none;
}

::selection {
  background-color: #a6009a;
  color: #22D902;
}

::-moz-selection {
  background: #a6009a;
  color: #22D902;
}

.hut {
  font-family: 'tikihutregular';
  letter-spacing: 1.2px;
  color: #CE5553;
  text-shadow:1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

.hut a{
  color: #CE5553;
}

.hut a:hover, a:focus{
  color: #ADF122;
  text-decoration: none;
  font-weight: 900;
}

.aloha {
  font-family: 'kon_tiki_aloha_jfregular';
  text-align: center;
}

.address {
  font-style: italic;
  font-size: 1em;
  padding-top: 5px;
  color: #ADF122;
  text-shadow: 1px 0 0 #555, -1px 0 0 #555, 0 1px 0 #555, 0 -1px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;
}

label {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1.4px;
  padding-top: 10px;
  color: #ADF122;
  text-shadow: 1px 0 0 #555, -1px 0 0 #555, 0 1px 0 #555, 0 -1px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;
}

.btn-tiki{
  color: #ADF122;
  letter-spacing: .75px;
  background: #a6009a;
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  border:1px solid #333;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  text-shadow: 1px 0 0 #555, -1px 0 0 #555, 0 1px 0 #555, 0 -1px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;

}

.btn-tiki:hover {
  color: #22D902;
}

.btn-tiki:focus {
  color: #22D902;
  outline: 5px auto #CE5553;
  outline-offset: -2px;

}

.navbar.navbar-inverse {
  font-family: 'kon_tiki_aloha_jfregular';
  background:url('/assets/bamboo.jpg');
  border-radius:0;
  box-shadow: 0px 1px 3px #2a2a2a;
  text-shadow: 2px 0 0 #222, -2px 0 0 #222, 0 2px 0 #222, 0 -2px 0 #222, 1px 1px #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #CE5553;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color: #ADF122;
}

.booyah-box{
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background: #F4FFF2;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
  border-radius: 10px;
  font-family: 'kon_tiki_aloha_jfregular';
}

.navbar-inverse .navbar-brand {
  color: #22D902;
  font-size: 2.5em;
  font-family: 'tikihutregular';

}

.tikster {
  color: #22D902;
  font-size: 2.5em;
  font-family: 'tikihutregular';
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #a6009a;
}

.pagination{
  text-align: center;
  background: rgba(119, 68, 19, 0.5);
  height: 20px;
  width: auto;
  margin: 0 auto;
  padding: 0 5px 23px 5px;
  border-radius: 50px;
}

.pagination a{
  font-family: 'kon_tiki_aloha_jfregular';
  color: #22D902;
  text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
  text-decoration: none;
}

.pagination a:hover {
  color: #a6009a;
}

.current {
  text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
  color: #a6009a;
}

.form-control:focus {
  border-color: #a6009a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(166, 0, 154, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(166, 0, 154, 0.6);
}

.field_with_errors {
  color: #ff3333;
  background-color: #fbd2d2;
  border-radius: 5px;
  padding:8px;

}

#map {
  height: 300px;
  border: 3px solid #a6009a;
  border-radius: 10px;
  margin-top: 5px;
}

.center {
  text-align: center;
  margin:0 auto;
}

.sig {
  padding-left: 36px;

}

.clear {
  clear:both;
}

blockquote {
  background: #F4FFF2;
  border-left: 6px solid rgba(206, 85, 83, 0.50);
  font-size: 16;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ADF122;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.star {
  color: #a6009a;
  font-size: 1.5em;
  text-shadow: .5px 0 0 #ADF122, -.5px 0 0 #ADF122, 0 .5px 0 #ADF122, 0 -.5px 0 #ADF122, .5px .5px #ADF122, -.5px -.5px 0 #ADF122, .5px -.5px 0 #ADF122, -.5px .5px 0 #ADF122;

}

blockquote .small{
  display: inline;
}

.comment-title {
  padding-right: 10px;
  padding-bottom: 5px;
}

.place-img {
  width: 300px;
  height: auto;
  border-radius: 10px;

}

.place-photo {
  margin:15px 20px 15px 20px;
  text-align: center;
  float: left;
}

.caption {
  padding: 10px;
  width: 300px;
  display: block;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 525px;
  width: 100%;
}

.carousel-caption{
  font-family: 'kon_tiki_aloha_jfregular';
  font-size: 2em;
  letter-spacing: 1.2px;
  text-shadow: rgba(0,0,0,0.95) 2px 2px;
  width:100%;
  position:absolute;
  left:0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}


#user-pic {
  height:150px;
  width:auto;
  border: 5px solid black;
  border-radius: 10px;
}

input[type="file"] {
  display: block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.alert {
  margin-top:20px;
}

//Modal------------

.close {
  font-family: 'tikihutregular';

}


.modal-title {
    font-family: 'tikihutregular';
    letter-spacing: 1.2px;
    color: #CE5553;
    text-shadow:1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

.modal-body{
  font-family: 'kon_tiki_aloha_jfregular'
}

.modal-footer {
    font-family: 'kon_tiki_aloha_jfregular'
}

//media breaks---------------


@media only screen and (max-width: 600px) {

  body {
    font-size: 16px;

  }

  h1 {
    font-size: 30px;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 275px;
    width: 100%;
  }
  .carousel-caption{

    font-size: 1.7em;
  }

}

@media only screen and (min-width: 1200px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 800px;
    width: 100%;
  }
}
